extends layout

block content

  h1 Genre: #{genre.name}

  div(style='margin-left:20px;margin-top:20px')

    h4 Books
    if genre_books.length > 0
        p Update books ganre before delete:
    dl
      each book in genre_books
        dt
          a(href=book.url) #{book.title}
        dd #{book.summary}

      else
        p Do you really want to delete this Ganre?
    
        form(method='POST' action='')
          div.form-group
            input#genre.form-control(type='hidden',name='genreid', required='true', value=genre._id )

          button.btn.btn-primary(type='submit') Delete